@import '../../../../../Styles/theme';

.title {
    font-weight: 600;
    font-size: 2em;
    text-transform: capitalize;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 1em;
    background: linear-gradient(160deg, fade(@color-3, 10%) 0%, fade(@color-3, 5%) 70%);
    border: 1px solid fade(@color-2, 15%);
    border-radius: 0 8px 8px 8px;
    box-shadow: 5px 5px 10px 0 fade(@color-0, 15%);
}
