@separator-width: 1px;
@separator-size: 90%;
@separator-margin: 14px;
@separator-padding: 4px;


.separator {
    border: solid 0 #e8eaed;
}

.horizontal {
    border-width: @separator-width 0 0 0;
    width: @separator-size;
    margin: 0 @separator-margin;
    padding-bottom: @separator-padding;
}

.vertical {
    border-width:  0 @separator-width 0 0;
    height: @separator-size;
    margin: @separator-margin 0;
    padding-right: @separator-padding;
}
