@import '../../../Styles/animations';
@import '../../../Styles/theme';
@import '../../../Styles/lib';


.hidden {
  color: @text-disabled;
}

.itemContainer {
  .center();
  width: 100%;
  height: 6em;
  padding: 0.5em 0;

  animation: fade-in-right 0.4s ease-out;
}

.item {
  .center();
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  background-color: @background-color;
  border: @foreground-secondary solid 1px;
  border-bottom: none;
  border-right: none;
  border-radius: 0.5em;
  box-shadow: inset 0 -1px 6px 0 rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.chartContainer {
  .full-size-center();
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  animation: rotate-in .5s ease-out;
}

.chartSizeLimiter {
  width: 3em;
  height: 3em;
}

.hopIcon {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  transition: all .2s ease-out;
  .hidden & {
    filter: grayscale() brightness(0.5);
  }
}

.hopName {
  .full-size-center();
  justify-content: flex-start;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.controllersContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;


  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  margin: 0 0.25em;
  width: 100%;
  height: 80%;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, .2);
  border-radius: 0.5em;

  background-color: @background-darker;
  & > * {
    transition: all .1s linear;
    cursor: pointer;
    &:hover {
      transform: scale(1.4);
      color: @foreground-primary-bright;
    }

    .hidden &:not(.activeIcon) {
      pointer-events: none;
    }
  }
}

.activeIcon {
  color: @text-color;
}
