@keyframes crop-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(-2%);
    opacity: 0;
  }
}

@keyframes rotate-in {
  from {transform: scale(0) rotateZ(-120deg)}
  to {transform: scale(1) rotateZ(0deg)}
}
