.colored(@text-color, @bg-neutral-color, @bg-text-color-mix: 30%, @bg-opacity: 30%) {
  @bg-color: fade(mix(@text-color, @bg-neutral-color, @bg-text-color-mix), @bg-opacity);

  color: @text-color;
  background: @bg-color;

  transition: background-color .2s ease-out;

  &:hover {
    background-color: darken(@bg-color, 20%);
  }
}

.full-size-center() {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appear-on-hover(@fade-time: .2s) {
  transition: opacity @fade-time ease-out;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
