@color-0: rgb(2, 8, 17);
@color-1: rgb(12, 52, 63);
@color-2: rgb(11, 98, 88);
@color-3: rgb(23, 142, 108);
@color-4: rgb(78, 155, 124);

@text-color: rgb(250, 255, 254);
@tag-text-color: rgb(228, 252, 255);

forall {
  transition: all .3s;
}
