@import './lib';

@background-color: #35363a;
@background-darker: #292b2d;
@text-color: #ffffff;
@foreground-secondary: #3f4045;
@foreground-primary: #b5f279;
@foreground-primary-bright: #bffa84;

@secondary-0: #020811;
@secondary-1: #0c343f;
@secondary-2: #0b6258;
@secondary-3: #178e6c;
@secondary-4: #4e9b7c;

@primary-0: #25555E;
@primary-1: #76A2AB;
@primary-2: #99D2DE;
@primary-3: #A2DFEB;
@primary-4: #59CCE3;

@text-color: rgb(250, 255, 254);
@tag-text-color: mix(@primary-4, @text-color, 50%);

input {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  color: @text-color;
}
