.green-scale-1-rgba { color: rgba(3, 23, 39, 1); }
.green-scale-2-rgba { color: rgba(18, 104, 114, 1); }
.green-scale-3-rgba { color: rgba(11, 135, 125, 1); }
.green-scale-4-rgba { color: rgba(24, 194, 156, 1); }
.green-scale-5-rgba { color: rgba(136, 249, 212, 1); }


.hopCharacteristics {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: rgba(3, 23, 39, 0.9);
    font-weight: bold;
    color: rgba(256, 256, 256, 0.9);
}

.contentArea {
    width: 100%;
    height: 100%;
}

.axisArea {
    width: 100%;
    height: 4em;
}
